@import url(//fonts.googleapis.com/css?family=Lato:300:400);
* {
    padding: 0px;
    margin: 0px;
    font-family: Lato, sans-serif;
}

header {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #81B6C9;
}

header img {
    width: 35px;
    margin-left: 10px;
}

header h3 {
    margin-left: 10px;
    font-family: Lato;
    font-size: 16px;
}

.btn {
    outline: none;
    border: 0;
    color: whitesmoke;
    font-size: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    background-color: #222730;
    opacity: 0.7;
    transition: 300ms;
    margin-right: 10px;
    font-family: Lato;
    text-decoration: none;
}

.btn:hover {
    opacity: 1;
    transition: 500ms;
}

section {
    width: 100vw;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../boat-header-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .explore {
    margin: 0px 80px 0px 0px;
    font-family: Koulen;
    font-size: 20px;
}

section .freedom {
    font-family: Koulen;
    margin: 0px 0px 20px 100px;
    font-size: 20px;
}

.logo {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.carrossel {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #81B6C9;
    padding: 0px 0px 30px 0px;
}

.carrossel h3 {
    margin: 20px 0px 20px 0px;
}

.mySlides img {
    width: 45%;
}

.mySlides {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.carrossel button {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    padding: 0px 0px 20px 0px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.carrossel button:hover {
    cursor: pointer;
    font-size: 22px;
    transition: 300ms;
}

.carrossel .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}